#container-div {
    height: 100vh;
    background: rgb(207,102,232);
    background: linear-gradient(0deg, rgba(207,102,232,1) 0%, rgba(191,48,176,1) 25%, rgba(214,37,189,1) 50%, rgba(214,42,188,1) 75%, rgba(239,22,205,1) 100%);
}

#thumbnail-div {
    width: 10em;
    height: 10vh;
}

#thumbnail {
    border-radius: 100px;
}

#belenya-run-div {
    height: 55px;
    border: 2px solid #d6dddf;
    border-radius: 50px;
}

#belenya-run-div:hover {
    background-color: #F2f2f2;
    color: #323232;
}

#belenya-run-div:hover a {
    background-color: #F2f2f2;
    color: #323232;
    transition: 0.8s;
}

.belenya-run-icon {
    width: 21px;
    height: 27px;
    background-image: url(img/belenyaa-running-icon.gif)
    /*animation: runningAnimationIcon 3s infinite;*/
}

.inpage-links {
    color:#F2f2f2
}

@keyframes runningAnimationIcon {
    0% {
        background-image: url(img/belenyaa-standing-icon-2.gif);
    }
    50% {
        background-image: url(img/belenyaa-running-icon-2.gif)
    } 
    100% {
        background-image: url(img/belenyaa-standing-icon-2.gif);
    }
}

